apiVersion: apps/v1
kind: Deployment
metadata:
  name: assets-front
spec:
  replicas: 1
  selector:
    matchLabels:
      run: assets-front
  template:
    metadata:
      labels:
        run: assets-front
    spec:
      containers:
        - image: uphiller/assets:front
          name: assets-front
          ports:
            - containerPort: 8888
      imagePullPolicy: Always
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: assets-front-svc
spec:
  type: NodePort
  ports:
    - port: 8888
      protocol: TCP
      targetPort: 8888
      nodePort: 30080
  selector:
    run: assets-front
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: assets-front-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  rules:
    - host: assets.bettercodelab.com
      http:
        paths:
          - backend:
              serviceName: assets-front-svc
              servicePort: 8888
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: assets-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      run: assets-backend
  template:
    metadata:
      labels:
        run: assets-backend
    spec:
      containers:
        - image: uphiller/assets
          name: assets-backend
          ports:
            - containerPort: 8085
      imagePullPolicy: Always
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: assets-backend
spec:
  type: NodePort
  ports:
    - port: 8085
      protocol: TCP
      targetPort: 8085
      nodePort: 30085
  selector:
    run: assets-backend