apiVersion: apps/v1
kind: Deployment
metadata:
  name: assets-front
spec:
  replicas: 1
  selector:
    matchLabels:
      run: assets-front
  template:
    metadata:
      labels:
        run: assets-front
    spec:
      containers:
        - image: uphiller/assets:front
          name: assets-front
          ports:
            - containerPort: 8888
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: assets-front
spec:
  type: NodePort
  ports:
    - port: 8888
      protocol: TCP
      targetPort: 8888
      nodePort: 30080
  selector:
    run: assets-front
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: assets-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      run: assets-backend
  template:
    metadata:
      labels:
        run: assets-backend
    spec:
      containers:
        - image: uphiller/assets:backend
          name: assets-backend
          ports:
            - containerPort: 8085
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: assets-backend
spec:
  type: NodePort
  ports:
    - port: 8085
      protocol: TCP
      targetPort: 8085
      nodePort: 30085
  selector:
    run: assets-backend