apiVersion: apps/v1
kind: Deployment
metadata:
  name: assets-front
spec:
  replicas: 1
  selector:
    matchLabels:
      run: assets-front
  template:
    metadata:
      labels:
        run: assets-front
    spec:
      containers:
        - image: uphiller/spring-weekly-test
          name: assets-front
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: assets-front
spec:
  type: NodePort
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
      nodePort: 30007
  selector:
    run: assets-front